{%- capture product_form_id -%}product-form-{{ section.id }}-{{ product.id }}{%- endcapture -%}

<div class="product__info">
  {%- render 'product-form',
    atc_button_icon_custom: atc_button_icon_custom,
    atc_button_icon_preset: atc_button_icon_preset,
    enable_dynamic_theme_color: enable_dynamic_theme_color,
    product: product,
    update_url: update_url
  -%}

  {%- assign help_page = section.settings.help_page -%}

  {%- if section.settings.show_share_buttons or help_page != blank -%}
    <div class="product-meta__aside">
      {%- if section.settings.show_share_buttons -%}
        <div class="product-meta__share text--subdued">
          {%- assign share_url = shop.url | append: product.url -%}
          {%- assign twitter_text = product.title | url_param_escape -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_image | image_url: width: 800 | prepend: 'https:' -%}

          <button
            is="share-toggle-button"
            share-url="{{ share_url | escape }}"
            share-title="{{ product.title | escape }}"
            class="product-meta__share-label link hidden-tablet-and-up"
            aria-controls="mobile-share-buttons-{{ section.id }}"
            aria-expanded="false"
          >
            {{ 'product.general.share' | t }}
          </button>
          <div class="product-meta__share-label hidden-phone">{{ 'product.general.share' | t }}</div>

          <popover-content id="mobile-share-buttons-{{ section.id }}" class="popover hidden-tablet-and-up">
            <span class="popover__overlay"></span>

            <header class="popover__header">
              <span class="popover__title heading h6">{{- 'article.general.share' | t -}}</span>

              <button
                type="button"
                class="popover__close-button tap-area tap-area--large"
                data-action="close"
                title="{{ 'general.accessibility.close' | t | escape }}"
              >
                {%- render 'icon' with 'close' -%}
              </button>
            </header>

            <div class="mobile-share-buttons">
              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--facebook"
                href="https://www.facebook.com/sharer.php?u={{ share_url }}"
                target="_blank"
                rel="noopener"
                aria-label="{{ 'general.social.facebook_share' | t }}"
              >
                {%- render 'icon' with 'facebook-share-mobile' -%}
                Facebook
              </a>

              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--pinterest"
                href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
                target="_blank"
                rel="noopener"
                aria-label="{{ 'general.social.pinterest_pin' | t }}"
              >
                {%- render 'icon' with 'pinterest-share-mobile' -%}
                Pinterest
              </a>

              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--twitter"
                href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}"
                target="_blank"
                rel="noopener"
                aria-label="{{ 'general.social.twitter_tweet' | t }}"
              >
                {%- render 'icon' with 'twitter-share-mobile' -%}
                Twitter
              </a>

              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--mail"
                href="mailto:?&subject={{ article.title | escape }}&body={{ share_url }}"
                aria-label="{{ 'general.social.email_share' | t }}"
              >
                {%- render 'icon' with 'email-share-mobile' -%}
                {{ 'general.social.email_label' | t }}
              </a>
            </div>
          </popover-content>

          <div class="product-meta__share-button-list hidden-phone">
            <a
              class="product-meta__share-button-item product-meta__share-button-item--facebook link tap-area"
              href="https://www.facebook.com/sharer.php?u={{ share_url }}"
              target="_blank"
              rel="noopener"
              aria-label="{{ 'general.social.facebook_share' | t }}"
            >
              {%- render 'icon' with 'facebook', width: 8, height: 14 -%}
            </a>

            <a
              class="product-meta__share-button-item product-meta__share-button-item--pinterest link tap-area"
              href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
              target="_blank"
              rel="noopener"
              aria-label="{{ 'general.social.pinterest_pin' | t }}"
            >
              {%- render 'icon' with 'pinterest', width: 10, height: 14 -%}
            </a>

            <a
              class="product-meta__share-button-item product-meta__share-button-item--twitter link tap-area"
              href="https://twitter.com/share?{% if twitter_text != blank %}text={{ twitter_text }}&{% endif %}url={{ share_url }}"
              target="_blank"
              rel="noopener"
              aria-label="{{ 'general.social.twitter_tweet' | t }}"
            >
              {%- render 'icon' with 'twitter', width: 17, height: 14 -%}
            </a>

            <a
              class="product-meta__share-button-item product-meta__share-button-item--mail link tap-area"
              href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}"
              aria-label="{{ 'general.social.email_share' | t }}"
            >
              {%- render 'icon' with 'share', width: 13, height: 13 -%}
            </a>
          </div>
        </div>
      {%- endif -%}

      {%- if help_page != blank -%}
        <button
          is="toggle-button"
          class="product-meta__help link text--subdued hidden-tablet-and-up"
          aria-controls="product-{{ section.id }}-help-popover"
          aria-expanded="false"
        >
          {{ 'product.general.need_help' | t }}
        </button>
        <button
          is="toggle-button"
          class="product-meta__help link text--subdued hidden-phone"
          aria-controls="product-{{ section.id }}-help-drawer"
          aria-expanded="false"
        >
          {{ 'product.general.need_help' | t }}
        </button>
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- if help_page != blank -%}
    {%- comment -%}
      Drawer for tablet and higher.
    {%- endcomment -%}
    <drawer-content id="product-{{ section.id }}-help-drawer" class="drawer drawer--large hidden-phone">
      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <p class="drawer__title heading h6">{{ help_page.title }}</p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content drawer__content--padded-start">
        <div class="rte">
          {{- help_page.content -}}
        </div>
      </div>
    </drawer-content>

    {%- comment -%}
      Popover for mobile.
    {%- endcomment -%}
    <popover-content hidden id="product-{{ section.id }}-help-popover" class="popover hidden-lap-and-up">
      <span class="popover__overlay"></span>

      <header class="popover__header">
        <p class="popover__title heading h6">{{ help_page.title }}</p>

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content">
        <div class="rte">
          {{- help_page.content -}}
        </div>
      </div>
    </popover-content>
  {%- endif -%}
</div>
